{% extends "base.html" %}
{% block title %} JNCTAlumni | Login {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="w-75 shadow-lg mb-5 bg-body rounded border-end border-3 border-danger mx-auto" style="margin-top:22px;">
    <h1 class="display-6 text-danger">Login JNCTian</h1>
    <p class="text-danger"><em>CheckOut your seniors and juniors</em></p>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
       Don't have an account  <a href="{% url 'signup' %}">Sign Up <img
                src="https://img.icons8.com/pastel-glyph/25/000000/add-user-male--v2.png"/></a>
        <button class="btn btn-danger" type="submit">Login</button>
    </form>
</div>
{% endblock %}

