{% extends "base.html" %}
{% block title %} JNCTAlumni | Password Change  {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="w-75 shadow-lg mb-5 bg-body rounded border-end border-3 border-danger mx-auto" style="margin-top:22px;">
    <h1 class="display-6 text-danger">Change Password</h1>
    <p class="text-danger"><em></em></p>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
            <button type="submit" class="btn btn-danger">Change</button>
    </form>
</div>
{% endblock %}