{% extends "base.html" %}
{% block title %} JNCTAlumni | Login {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% if user_info.pk != user.pk %}
<center>
    <h1 class="text-danger display-6">Oops entered someone else's territory</h1>
    <a class="" href="{% url 'myprofile' %}">Edit Yours</a>
</center>
{% else %}

<div class="w-75 shadow-lg mb-5 bg-body rounded border-end border-3 border-danger mx-auto" style="margin-top:44px;">
    <h1 class="display-6 text-danger">Update</h1>
    <p class="text-danger"><em>Update the Links info!</em></p>
    <hr>
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-danger">Update</button>
    </form>
</div>
{% endif %}
{% endblock %}
